<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="server=db-007.hpkservers.com;initial catalog=BiddingApp;user id=_bidding;password=$#bidding#$;"/>
  </connectionStrings>
  <appSettings>
    <add key="LogDirectory" value="c:\Temp\logs"/>
    <add key="DevMode" value="1"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
