<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="server=db-007.hpkservers.com;initial catalog=BiddingApp;user id=_bidding;password=$#bidding#$;" />
  </connectionStrings>
  <appSettings>
    <add key="LogDirectory" value="c:\Temp\logs" />
    <add key="SMTP_Server" value="smtp.1and1.com"/>
    <add key="SMTP_Username" value="biddingapp@hpkpartners.com" />
    <add key="SMTP_Password" value="$#bidding#$" />
    <add key="SMTP_Port" value="587" />
    <add key="BaseURL" value="http://www.hpkpartners.com/ash/biddingapp/"/>
    <add key="DevMode" value="1" />
    <add key="DevEmail" value="lookitsash@gmail.com"/>
    <!--<add key="DevEmail" value="akhan@hpkpartners.com"/> -->
    <add key="DevPassword" value="123"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
